@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(34, 32, 32);
}
::-webkit-scrollbar-thumb {
  background: rgb(238, 233, 233);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 187, 187);
}
